* {
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
  } 
html, body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* Header */
header {
    width: 100%;
    background-color:#000;    
  }
.navigation {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    gap: 500px;
    color: white;
   
  }
  .logo {
    font-size: 35px;
    font-weight: bold;
    text-align:left;
    padding-left:50px;   
  }
  .navigation.links {
    width: 1000px;
    padding-top: 2px;
    min-width: 500px;    
  }
  .links a.first {
    border-right: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .links a.second {
    border-right: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .links a.third {
    border-right: 1px solid white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .links a.fourth {
    padding-left: 20px;
    padding-right: 20px;
  }
  .links a {
    color: white;
    text-decoration: none;
  }
  .links a:hover {
    color: #36e5fc;
    font-weight: bold;
    transition: all 0.5s ease-in;
  }
 .socials {
    display:flex;
    flex-direction: row;
    gap:20px;
    font-size: 30px;
    text-align: right;
    padding-right: 50px;
  }
  .socials a {
    color:#fff;
    text-decoration: none;
  }
  .socials a:hover {
    color: #36e5fc;
    font-size: 32px;
    text-decoration: none;
    transition: all 0.5s ease-in;
  }


.gallery {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:30px;
  overflow: auto;
  white-space: nowrap;
  padding:10px;
}

.photos{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:120px;
  width: 600px;
  border-radius: 10px;
  margin:0 auto;
  padding:10px;
  background-color: #ffffff;
  filter: drop-shadow(0px 0px 5px #898989a8);
}
.photos img {
  height:80%;
  width:85%;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 20px #898989a8);

}
/* First section */
.section.bg-gray {
    display:block;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 20px #898989a8);
  }
  .profile_container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    align-content:center;
    gap: 450px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  .about_container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    align-content:center;
    gap: 0px;
    width: 100%;
    height:100%;
    max-width: 1100px;
    margin-left:600px;
  }

  .about_container img {
    height:100%;
  }

  .about_container {
    margin: auto;
  }

  .pageinfo {
    display:flex;
    flex-direction: column;
    gap:0px;
    align-items: flex-start;
    align-content: flex-start;
    margin-top:50px;
  }

  .title, .subtitle, .pagedesc {
    text-align: left;
    margin:0px;
  }

  
  .pagedesc {
    margin-top:20px;
    font-size: 20px;
  }

  .subtitle {
    font-size: 30px;
  }

  section.intro {
    display:block;
    width: 100%;
    height: 150px;
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  section.intro.portfolio {
    padding: 20px 0px;
    margin-bottom: 20px;
  }

  img {
    margin:0px;
  }
  .section.bg-gray img {
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-content:center;
    height:550px;
    width: 800px;
    transform: translate(0px, 50px);
    border:none;
    z-index: auto;
  }
  .section.bg-gray button {
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-content:center;
    height:30px;
    width: 30px;
    border:none;
    z-index: auto;
  }
  .profile_container .title {
    margin-top: 150px;
    text-shadow: 2px 2px 10px #898989a8;
  }

  .about_container .title {
    margin-top: 100px;
    text-shadow: 2px 2px 10px #898989a8;
  }

 
  .about_container h1 {
    font-size:100px;
  }

  .profile_container .teacher {
    padding-left: 100px;

  }
  .profileimage {
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-content:center;
  } 
  .profile_container h1 {
    font-size:50px;
  }
  .info_container {
    padding-top: 20px;
    padding-bottom:20px;

  }
  .button {
    text-decoration: none;
    color: white;
    background-color: #037bff;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin-top: 60px;
  }


  .holder_container {
    width:100%;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:5px;
    padding:0px;
  }

  .holder_container span {
    width:500px;
    height:20px;
    border-bottom: solid #000 1px;

  }

  .holder_container .title {
    width:300px;;
    border-bottom: solid #000 0px;
    height:10px;
    text-align:center;
    padding:0px;
    text-shadow: 2px 2px 10px #898989a8;
    font-weight:bold;
    

  }

  .section.bg-white {
    position:relative;
    height: 100%;
    background-color: #ffffff;
    display:block;
    
   
}

.section.bg-white.portfolio {
  position:relative;
  height: 100%;
  background-color: #ffffff;
  display:block;
  
 
}

  .container {
    position: relative;
    width:1200px;
    max-width: 100%;
    display:flex;
    height:500px;
    bottom: 0px;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    align-content:space-between;
    gap: 20px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .project_container {
    position:relative;
    display:flex;
    flex-direction: column;
    gap: 3px;
    width: 350px;
    height: auto;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    filter: drop-shadow(0px 3px 10px #b4b4b4a8);
  }
  .project_container:hover {
    filter: drop-shadow(0px 15px 10px #b4b4b4a8);
    cursor:pointer;
    transition: all 0.2s ease-in;
  }

  .project_container h1 {
    margin:0;
    padding-bottom:20px;

  }

  .project_container p {
    font-size: small;
    padding-top: 3px;
  }

  .jsonlinks {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
  }

  .jsonlinks .url , .git , .open-project {
    color:#000;
  }

  .jsonlinks .url:hover {
    color: #36e5fc;
    transition: all 0.3s ease-in;
  }
  
  .jsonlinks .git:hover {
    color: #36e5fc;
    transition: all 0.3s ease-in;
  }
  .jsonlinks .open-project:hover {
    color: #36e5fc;
    transition: all 0.3s ease-in;
  }

  .project_container img {
    height: 150px;
    width:auto;
    filter: drop-shadow(0px 3px 10px #b4b4b4a8);

  }

 #name .container {
  height: 100%;
  padding:0px;
  border-radius: 15px;
 }
  
/* Footer */
  .footer {
    
    background-color:#000;
    color:#fff;
  }
  .footertop {
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:15px;
    align-items: left;
    align-content: left;
    background-color: black;
    color: white;
    font-size: 15px;
    padding-left:50px;
  }
  footer .social {
    width:400px;
  }
  footer p {
    padding-left:50px;
  }

  .footerbottom p {
    text-align:right;
    padding-right: 50px;
    padding-bottom: 100px;
  }
  footer .logo {
    font-size: 20px;
    font-weight: bold;
    text-align:left;
    padding-left: 0px;
    padding-top: 20px;
  }


  .footertop a {
    color: white;
    text-decoration: none;
  }
  .footertop a:hover {
    color: #36e5fc;
    font-weight: bold;
  }


/* Contact modal */
  

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  height: 600px;
  min-height: 250px;
  position: fixed;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
  transform: translate(1250px, 150px);
  filter: drop-shadow(0px 3px 10px #b4b4b4a8);
}

.hidden {
  display: none;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}


.modal textarea {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

.modal label {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 1em;
  animation: pulse 2s infinite;
}

.btnsubmit {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  font-weight: 700;
  background-color: #36e5fc;
  color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  display:flex;
  
  bottom: 615.5px;
  left: 1023.5px;
}


.btntwo {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 1em;
  animation: pulse 2s infinite;
}

.btn-opentwo {
  position: absolute;
  display: flex;
  bottom: 573px;
  left: 960.5px;
}

.btn-close {
  transform: translate(0px, -10px);
  padding: 0.5rem 0.8rem;
  background: #eee;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 239, 240, 0.5);
  backdrop-filter: blur(0.5px);
  z-index: 1;
}













/* Keyframes for animations */

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}



